body {
    font-family: Georgia, Times, serif;
    color: purple;
    background-color: white;
}

/*@jerichodinozo*/
#class_section {
    border: 0.5rem solid black;
}
#add_class_body {
    background-color: #f8f8f8;
}

#add_right {
    float: right;
}



#fromTime {
    width: 10%;
}

#toTime {
    width: 10%;
}

label {
    font-family: Halvetica, nueue, light;
    color: black;
    font-size:25px;
}

input {
    background-color: rgb(219, 218, 218);
    color:black;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 20px;
}

.subpageTitle {
    font-family: Arimo;
    font-weight: bold;
    color: black;
    font-size: 60px;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.sectionTitle {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 30px;
}

.circle {
    background: #D3D3D3;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
/*@jerichodinozo*/
