@import url(https://fonts.googleapis.com/css?family=Arimo);
@import url(https://fonts.googleapis.com/css?family=Roboto);
body {
    font-family: Roboto;
    color: purple;
    background-color: #f9f9f9;
    text-align: center;
}

/*@jerichodinozo*/

header {
    margin-bottom: -50px;
}

.breadcrumb {
    text-align: left;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 17px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

ul {
    list-style: none;
}

#account-settings-items ul li {
    color: #292929;
}

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
  }
  
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}
  
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: ">";
}
  
ul.breadcrumb li a {
    color: #292929;
    text-decoration: none;
}
  
ul.breadcrumb li a:hover {
    color: black;
}

.flex-breadcrumb {
    
}

.breadcrumb-container {
    justify-content: center;
}

.page-title {
    font-size: 70px;
    color: #292929;
    margin-top: 30px;
}

.link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.item1-icon {
    font-size: 100px;
    color: #292929;
}

.icon {
    font-size: 50px;
    color: #292929;
}

.grouping-panel1{
    padding-top: 80px;
}

.grouping {
    padding-top: 30px;
}

.grid-container {
    margin-top: -100px;
    display: grid;
    grid-template-rows:    repeat(3, 150px);
    grid-template-columns: repeat(4, 150px);
    grid-row-gap:5px;
    grid-column-gap: 5px;
    text-align: center;
    vertical-align: center;
}

.date-panel {
    text-align: center;
    color: #292929;
}

.time {
    padding-top: 10px;
    color: #292929;
    font-size: 60px;
}

.grid-text {
    font-family: Roboto;
    color: #292929;
    font-size: 20px;
}

.grid-item {
    background: #D3D3D3;
    border-radius: 2px;
    cursor: pointer;
}

.grid-item:hover {
    background-color: gray;
    transition: 0.65s;
    border-radius: 20px;
}

.grid-item1 {
    grid-row-start: span 2;
    grid-column-start: span 2;
}

.grid-item2 {
    grid-column-start: span 2;
    grid-row-start: span 2;
    
}

.grid-item3 {

}

.grid-item4 {

}

.grid-item5 {

}

.grid-item6 {

}

.overall-flexbox {
    justify-content: center;
    align-items: center;
}

#overall-container {
    margin-top: -230px;
    display: grid;
    grid-template-rows:    repeat(3, 150px);
    grid-template-columns: repeat(5, 150px);
    grid-row-gap:5px;
    grid-column-gap: 5px;
}

.overall-title {
    color: black;
}

.overall-item {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.overall-grade {
    
}

#overall-item0 {
    background-color: #E0BBE4;
}

#overall-item1 {
    background-color: #B2AA9B;
}

#overall-item2 {
    background-color: #999ACF;
}

#overall-item3 {
    background-color: #CEB493;
}

#overall-item4 {
    background-color: #C69EBE;
}

#overall-item5 {
    background-color: #D4C6B2;
}

#overall-item6 {
    background-color: #D4B1AA;
}

#overall-item7 {
    background-color: #abc4ff;
}

#overall-item8 {
    background-color: #ffee93;
}

#overall-item9 {
    background-color: #ffc09f;
}

#overall-item10 {
    background-color: #adf7b6;
}

#overall-item11 {
    background-color: #ddedea;
}

#overall-item12 {
    background-color: #fcf4dd;
}

#overall-item13 {
    background-color: #52b2cf;
}

#overall-item14 {
    background-color: #d4afb9;
}

#overall-item15 {
    background-color: #9cadce;
}

.flexbox-container {
    height:100vh;
    display: flex;
}

.flex-home-container {
    justify-content: center;
    align-items: center;
}

.flexbox-item {
    margin: 50px;
}

.login-container {
    justify-content: center;
    align-items: center;
}

.login-space {
    padding: 50px;
    
    background-color: #f8f8f8;
}

.login-btns {
    padding-top: 10px;
}

.login-btn {
    
}

.signup-container {
    justify-content: center;
    align-items: center;
}

.signup-items {
    margin-top: -150px;
}

.help-container {
    margin-top: -40px;
    justify-content: center;
    align-items: center;
}

#help-text-field input{
    width:500px;
}

#settings-container {
    grid-template-rows:    repeat(1, 150px);
    grid-template-columns: repeat(3, 150px);
}

.settings-item {
   text-align: center;
}

.account-container {
    justify-content: center;
    text-align: left;
    align-items: center;
}

#account-settings-items {
    
}

textarea {
    width: 500px;
    height: 300px;
    border: none;
    background-color: #f2f2f2;
    border-radius: 3px;
    padding: 12px;
    font-size: 14px;
}
    
#add_title {
    font-family: Roboto;
    color: #292929;
    text-align: center;
    font-size: 30px;
}
#add_class_body {
    background-color: #f8f8f8;
}

label {
    font-family: Roboto;
    color: black;
    font-size:25px;
}

.send-btn {
    width: 50px;
    height: 25px;
    border-radius: 10px;
    border: none;
    background: #aaa;
    color: #292929;
    font-size: 10px;
    font-weight: 500;
    line-height: 1;
    transition: transform 250ms;
    cursor: pointer;
    margin: -1 auto;
    float: right;
}

#from_input input, #to_input input {
    width: 55px;
}

.text-field {
    position: relative;
    font-size: 14px;
    padding-top: 20px;
    margin-bottom: 5px;
}

.text-field input{
    border: none;
    -webkit-appearance:none;
    -ms-appearance: none;
    -moz-appearance:none;
    appearance: none;
    background: #f2f2f2;
    padding: 12px;
    border-radius: 3px;
    width: 250px;
    outline:none;
    font-size:14px;
}


.text-field .placeholder {
    font-family: Roboto;
    position: absolute;
    left: 12px;
    top: calc(50% + 10px);
    transform: translateY(-50%);
    color: #aaa;
    transition: 
        top 0.3s ease,
        font-size 0.3s ease,
        color 0.3s ease;
}

.text-field input:valid + .placeholder,
.text-field input:focus + .placeholder {
    top: 10px;
    font-size: 10px;
    color: #222;
}

.add-class-form {
    max-width: 70%;
    margin: 3.5rem auto;
    /*border: 2px solid #aaa;*/
    background-color: rgb(245, 244, 244);
    border-radius: 20px;
    padding: 4rem;
}

#days_selection, #span_section {
    background: #f2f2f2;
    border-radius:3px;
    margin: 1rem 150px;
    margin: auto;
    width: 20%;
}

#days_selection label, #span_section label {
    font-size: 14px;
    color: #aaa;
}

#days_selection label:hover, 
#span_section label:hover {
    color:black;
}

.send-btn:hover {
    transform: translateY(-10px);
    background: black;
}

#settings_btn, #help_btn {
    float: left;
    margin-top: 2rem;
    margin-left: 10px;
}

#back_btn {
    float: left;
    margin-top: -2rem;
}

.subpageTitle {
    text-align: center;
    font-family: Arimo;
    font-weight: bold;
    color: #aaa;
    font-size: 60px;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.sectionTitle {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 30px;
}

.circle {
    background: #D3D3D3;
    border-radius: 10px;
    width: 200px;
    height: 200px;
}

.circle-shape {
    background: #D3D3D3;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}


/*@jerichodinozo*/
